version: 2.0
jobs:
  build:
    docker:
      - image: python:3
    steps:
      - checkout
      - run:
          name: Run Tests
          command: |
            pip install 'pytest~=8.4' 'pytest-cov~=7.0' 'mock~=5.2' 'Flask>=2.2.5,<4' 'SQLAlchemy>=1.4.18,<3' 'Flask-SQLAlchemy>=3.0.5,<4' 'marshmallow>=3.10,<4' 'pika>=1.3,<2'
            pip install -e .
            pytest
workflows:
  version: 2
  commit:
    jobs:
      - build
  nightly:
    triggers:
      - schedule:
          cron: "30 5 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build
